  <header class="bg-primary text-white text-center py-4">
    <h1>ONE PIECE CREW</h1>
  </header>
  
  <section class="container my-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://i.pinimg.com/736x/03/9f/3e/039f3e24a2f62671768db873990604f5.jpg" class="card-img-top img-fluid" alt="Roronoa Zoro" style="height: 300px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Roronoa Zoro</h5>
            <p class="card-text">The swordsman of the Straw Hat Pirates, Zoro wields three swords and aims to become the world's greatest swordsman.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://orig00.deviantart.net/5dae/f/2016/324/e/a/one_piece_843___sanji_by_ajm_fairytail-dap2x0w.png" class="card-img-top img-fluid" alt="Vinsmoke Sanji" style="height: 300px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Vinsmoke Sanji</h5>
            <p class="card-text">The crew's cook, Sanji is a master of kicking-based martial arts and dreams of finding the All Blue.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://s1.zerochan.net/Jinbei.600.2907075.jpg" class="card-img-top img-fluid" alt="Jinbe" style="height: 300px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Jinbe</h5>
            <p class="card-text">A Fish-Man and former Warlord, Jinbe is a powerful helmsman and a skilled practitioner of Fish-Man Karate.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; ONE PIECE</p>
  </footer>